@import "tailwindcss";

:root {
  --color-bg: #f8fafc;
  --color-card: #ffffff;
  --color-primary: #dc2626;
  --color-text: #0f172a;
  --color-border: #e2e8f0;
}

[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-card: #1e293b;
  --color-primary: #f43f5e;
  --color-text: #f8fafc;
  --color-border: #334155;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
